<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: rgb(28, 3, 3);
    background-color: #37044f;
  }

  /* Styles for tablets and larger devices */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8152ee; 
    padding: 10px; 
    border-radius: 10px; 
  }
  
  .top-right-icons {
    display: flex;
    
    align-items: center;
  }
  
  .top-right-icons i {
    font-size: 24px;
  margin-right: 25px;
  }
  
  #search-input {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #search-icon {
    cursor: pointer;
  }
  
  #search-icon:hover {
    color: #ccc;
  }

  #onedrive-icon:hover {
    color: #ccc;
  }

  #onedrive-icon {
    cursor: pointer;
  }

  #more-options-icon:hover {
    color: #ccc;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2b0b3e; 
    border-radius: 10px; 
    padding: 10px; 
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
  }
  
  nav a:hover {
    color: #666;
  }

  nav ul li a {
    color: rgb(222, 222, 219); /* Default link color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add some padding */
}

nav ul li a.active {
    background-color: #3498db; /* Change background color for active page */
    color: white; /* Change text color for active page */
    border-radius: 5px; /* Optional: add rounded corners */
}

  #more-options-list {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #faf9fb;
    border: 1px solid #37044f;
    border-radius: 5px;
    padding: 10px;
  }
  
  #more-options-list.show {
    display: block;
  }

  #more-options-list li {
    margin-bottom: 10px;
  }
  
  #more-options-list a {
    text-decoration: none;
    color: #333;
  }
  
  #more-options-list a:hover {
    color: #762b2b;
  }

  #more-options-icon {
    cursor: pointer;
  }

  #save-settings-btn {
    background-color: #235318;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .date-bar {
    width: 80%; 
    margin: 20px auto; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .date-bar button:hover {
    color: #666;
  }
  
  .date-bar span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .notes-content {
    margin-top: 20px;
  }
  
  #add-note-form {
    display: none;
    margin-top: 20px; 
    padding: 20px; 
    width: 80%; 
    margin-left: 10%; 
    margin-right: 10%; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  #add-note-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  #add-note-form textarea {
    width: 100%;
    height: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    resize: vertical; 
  }

  #submit-note-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-note-btn:hover {
    background-color: #3e8e41;
  }

  #note-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #note-list > div {
    background-color: #f9f9f9;
    font-size: larger;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    width: 70%; 
  }
  
  #note-list > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #note-list > div:last-child {
    margin-bottom: 40px; 
  }

  .note-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    width: 70%; 
  }
  
  .note-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .note-item + .note-item {
    margin-top: 20px; 
  }

#add-note-btn {
  background-color: #37d80b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#add-note-btn:hover {
  background-color: #107ed1;
}

#pagination-links {
  text-align: center;
  margin: 20px auto;
}

#pagination-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #337ab7;
  transition: color 0.2s ease;
}

#pagination-links a:hover {
  color: #23527c;
}

#pagination-links a.active {
  font-weight: bold;
  color: #23527c;
}

#previous-link, #next-link {
  margin: 0 20px;
}

#previous-link:hover, #next-link:hover {
  text-decoration: underline;
=======
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: rgb(28, 3, 3);
    background-color: #37044f;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8152ee; 
    padding: 10px; 
    border-radius: 10px; 
  }
  
  .top-right-icons {
    display: flex;
    
    align-items: center;
  }
  
  .top-right-icons i {
    font-size: 24px;
  margin-right: 25px;
  }
  
  #search-input {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #search-icon {
    cursor: pointer;
  }
  
  #search-icon:hover {
    color: #ccc;
  }

  #onedrive-icon:hover {
    color: #ccc;
  }

  #more-options-icon:hover {
    color: #ccc;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2b0b3e; 
    border-radius: 10px; 
    padding: 10px; 
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
  }
  
  nav a:hover {
    color: #666;
  }

  nav ul li a {
    color: rgb(222, 222, 219); /* Default link color */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Add some padding */
}

nav ul li a.active {
    background-color: #3498db; /* Change background color for active page */
    color: white; /* Change text color for active page */
    border-radius: 5px; /* Optional: add rounded corners */
}

  #more-options-list {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #faf9fb;
    border: 1px solid #37044f;
    border-radius: 5px;
    padding: 10px;
  }
  
  #more-options-list.show {
    display: block;
  }

  #more-options-list li {
    margin-bottom: 10px;
  }
  
  #more-options-list a {
    text-decoration: none;
    color: #333;
  }
  
  #more-options-list a:hover {
    color: #762b2b;
  }

  .date-bar {
    width: 80%; 
    margin: 20px auto; 
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .date-bar button:hover {
    color: #666;
  }
  
  .date-bar span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .notes-content {
    margin-top: 20px;
  }
  
  #add-note-form {
    display: none;
    margin-top: 20px; 
    padding: 20px; 
    width: 80%; 
    margin-left: 10%; 
    margin-right: 10%; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  #add-note-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  #add-note-form textarea {
    width: 100%;
    height: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    resize: vertical; 
  }

  #submit-note-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-note-btn:hover {
    background-color: #3e8e41;
  }

  #note-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #note-list > div {
    background-color: #f9f9f9;
    font-size: larger;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    width: 70%; 
  }
  
  #note-list > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #note-list > div:last-child {
    margin-bottom: 40px; 
  }

  .note-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    width: 70%; 
  }
  
  .note-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .note-item + .note-item {
    margin-top: 20px; 
  }

#add-note-btn {
  background-color: #37d80b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#add-note-btn:hover {
  background-color: #107ed1;
}

#pagination-links {
  text-align: center;
  margin: 20px auto;
}

#pagination-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #337ab7;
  transition: color 0.2s ease;
}

#pagination-links a:hover {
  color: #23527c;
}

#pagination-links a.active {
  font-weight: bold;
  color: #23527c;
}

#previous-link, #next-link {
  margin: 0 20px;
}

#previous-link:hover, #next-link:hover {
  text-decoration: underline;
>>>>>>> origin/main
}